.DS_Store
.idea/
.vscode/

.env


# Terraform 상태 파일
*.tfstate
*.tfstate.*

# 백엔드 로컬 상태 잠금 파일
*.lock.hcl

# Terraform 작업 디렉토리
.terraform/

# 자동 생성된 변수 파일
terraform.tfvars
terraform.tfvars.json

# crash log
crash.log

# 플랜 파일 (apply 전에 생성되는 중간 파일)
*.tfplan

# .terraformrc 파일 (사용자 설정, 인증정보 포함 가능)
.terraformrc
terraform.rc
